log.txt
game/saves/
game/cache/
*.rpyc
*.rpymc
.vscode/
errors.txt
traceback.txt
*.bak

renpy/

traceback_user.txt

dialogue.tab

.VSCodeCounter/

dialogue.txt

output/CSBounciness III.exe

*/*/desktop.ini
*/desktop.ini

*.sfk

*.pkf
*.xmp